---
import { getCollection, type CollectionEntry } from "astro:content";

export async function getSummary(slug: CollectionEntry<"blog">["slug"]) {
	try {
		const summary = await import(`../../content/blog/${slug}/_summary.md`);
		return summary;
	} catch (error) {
		return null;
	}
}

export async function getStaticPaths() {
	const entries = await getCollection("blog");
	const paths = await Promise.all(
		entries.map(async (entry) => {
			const SummaryContent = await getSummary(entry.slug);
			return {
				params: { slug: entry.slug },
				props: { entry, SummaryContent },
			};
		}),
	);

	return paths;
}

const { entry, SummaryContent } = Astro.props;
const { Content } = await entry.render();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{entry.data.title}</title>
	</head>
	<body>
		<h1>{entry.data.title}</h1>
		{SummaryContent ? <SummaryContent.default /> : null}
		<Content />
	</body>
</html>
